body {
	margin: 0;
	background-image: url(./images/table.png);
	font-family: 'Exo 2', sans-serif;
	height: 100vh;
	
	color: white;
}

* {
	box-sizing: border-box;
}

.header {
	display: flex; 
	align-items: center;
	justify-content: space-around;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:  center;
	height: 92.8vh;
	margin-top: 20px;
}

button {
	background-color: yellow;
	border: none;
	cursor: pointer;
}

.new-deck {
	align-self: flex-start;
	padding: 5px;
}

.draw {
	font-size: 1.2rem;
	padding: 10px;
	width: 100%;
}

.card-slot {
	height: 116px;
	width: calc(120px * 5 / 7);
	border: 1px solid black;
	border-radius: 5px;
}

div.card-slot:nth-of-type(1) {
	margin-bottom: 50px;
}

.card {
	width: 100%;
}

button:disabled {
	cursor: not-allowed;
}

#computer-score {
	margin-bottom: 20px;
}

#player-score {
	margin-top: 20px;
}